/* _archive.scss
  ========================================================================== */

.archiveHeader {
  h1 {
    @extend %obiLeft;
    @extend %primaryHeading;
  }
}

ul.archive {
  padding-left: 0;
  list-style: none;
  li {
    .articleInfo {
      margin-bottom: 0;
      text-align: left;
      dt:first-child {
        margin-left: 0;
      }
    }
    h2 {
      margin: 0 0 1.5em;
      @include fz(16);
      font-weight: normal;
      a {
        text-decoration: none;
      }
    }
  }
}