/* _extends.scss
  ========================================================================== */

/* -- %primaryHeading -- */
%primaryHeading {
  @include fz(32);
  line-height: 1.1;
  @extend %long-shadow;
  -webkit-font-smoothing: antialiased;
  a:hover {
    text-decoration: none;
  }
  @media screen and (max-width:500px) {
    @include fz(24);
  }
}

@function longshadow($color, $dis) {
  $val: 0px 0px $color;
  @for $i from 1 through $dis {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

%long-shadow {
  text-shadow: longshadow(darken($baseColor, 10%),2);
}

/* -- %obi -- */
%obi {
  background: $baseColor;
  color: $bodyBgColor;
  a, a:visited {
    color: $bodyBgColor;
  }
}

/* -- %obiLeft -- */
%obiLeft {
  margin-left: -100%;
  padding: 1em .5em 1em 100%;
  @extend %obi;
}

/* -- %obiRight -- */
%obiRight {
  margin-left: 23%;
  padding: .5em 1em 1.5em;
  @extend %obi;
  @media screen and (max-width:$bodyMaxWidth) {
    margin-left: 10%;
  }
  @media screen and (max-width:500px) {
    margin-left: 5%;
  }
}

/* -- %buttonSimple -- */
%buttonSimple {
  display: inline-block;
  padding: 0 5px 2px;
  border: 1px solid darken($baseColor, 1%);
  border-radius: 2px;
  color: darken($baseColor, 4%);
  line-height: 1.3;
  transition: all .1s ease;
  &:hover {
    border-color: $baseColor;
    background: $baseColor;
    color: $bodyBgColor;
    text-decoration: none;
  }
}

/* -- %tag -- */
%tag {
  position: relative;
  margin-right: .5em;
  padding: 0px 15px 2px 6px;
  border-radius: 2px 0 0 2px;
  background: darken($bodyBgColor, 10%);
  color: $bodyTextColor;
  @include fz(14);
  font-family: "Source Code Pro", monospace;
  letter-spacing: -1px;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border: .65rem solid transparent;
    border-right-color: #fcfcfc;
  }
}

/* -- SiteName --*/
.siteName {
  span {
    letter-spacing: -.1em;
  }
}
