/*
 _index.scss
 TOPページ関連
 */

body.index {
  .globalHeader {
    margin-bottom: 3em;
    .siteName {
      @extend %obiLeft;
      @extend %primaryHeading;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      @include fz(48);
    }
    .siteDescription {
      @extend %obiLeft;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 3em;
    }
  }
  .main {
    margin-top: 0;
    .siteDescription {
      @extend %obiLeft;
      margin-top: 0;
      margin-bottom: $margin;
      padding-top: 0;
      padding-bottom: 2em;
    }
  }
}

.recentArticleSection h1 {
  @include fz(20);
}

.recentArticle {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  li {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 5em;
    margin-bottom: 2em;
    padding-right: 5%;

    h2 {
      margin: 0;
      padding: .2em 0 .3em;
      @include fz(18);
      font-weight: normal;
      line-height: 1.2;
      text-align: justify;
      text-justify: inter-ideograph;
    }

    a {
      text-decoration: none;
    }

    @media screen and (max-width:500px) {
     width: auto;
     height: auto;
     margin-bottom: 1.25em;
    }
  }

  li:first-child {
    width: 100%;
    height: auto;
    max-width: $bodyMaxWidth;
    float: none;
    margin-left: 0;
    margin-bottom: 2em;
    h2 {
      @include fz(28);
    }
    p {
      margin: 0;
    }
    p a {
      @extend %buttonSimple;
    }
  }
}