/*
 _index.scss
 TOPページ関連
 */

body.index {
  .globalHeader {
    margin-bottom: 3em;
    .siteName {
      @extend %obiLeft;
      @extend %primaryHeading;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      @include fz(48);

      a {
        text-decoration: none;
        transition: text-shadow .4s ease;
      }
    }
    .siteDescription {
      @extend %obiLeft;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 3em;
    }
  }
  .main {
    margin-top: 0;
    .siteDescription {
      @extend %obiLeft;
      margin-top: 0;
      margin-bottom: $margin;
      padding-top: 0;
      padding-bottom: 2em;
    }
  }
}

.recentArticleSection h1 {
  @include fz(20);
}

.recent-article {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.recent-article-item {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 5em;
  margin-bottom: 2em;
  padding-right: 5%;

  @media screen and (max-width:500px) {
   width: auto;
   height: auto;
   margin-bottom: 1.25em;
  }

  & > a {
    text-decoration: none;
  }
}

.recent-article-item-published-time {
  font-family: "Viga", sans-serif;
  color: $color-body-text;
}

.recent-article-item-title {
  margin: 0;
  padding: .2em 0 .3em;
  @include fz(18);
  font-weight: normal;
  line-height: 1.2;
  text-decoration: underline;
}

.recent-article-item:first-child {
  width: 100%;
  height: auto;
  max-width: $bodyMaxWidth;
  float: none;
  margin-left: 0;
  margin-bottom: 2em;

  .recent-article-item-title {
    @include fz(28);
    font-weight: bold;

    @media screen and (max-width:500px) {
      @include fz(22);
    }
  }

  .recent-article-item-title > a {
    text-decoration: none;
  }
  .recent-article-item-description {
    margin: 0;
    color: $color-body-text;
  }
}