@charset "UTF-8";
@import "variable";
@import "normalize";
@import "core";
@import "extends";

/* -- siteName --*/
.siteName {
  span {
    letter-spacing: -.1em;
    -webkit-font-feature-settings: "kern" 0;
    -moz-font-feature-settings: "kern" 0;
   font-feature-settings: "kern" 0;
  }
}

/* -- index --*/
body.index {
  .globalHeader {
    margin-bottom: 3em;
    .siteName {
      @extend %obiLeft;
      @extend %primaryHeading;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: 3em;
    }
    .siteDescription {
      @extend %obiLeft;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 3em;
    }
  }
  .main {
    margin-top: 0;
    .siteDescription {
      @extend %obiLeft;
      margin-top: 0;
      margin-bottom: $margin;
      padding-top: 0;
      padding-bottom: 2em;
    }
  }
}
.recentArticleSection h1 {
  font-size: 1.25em;
}

ul.recentArticle {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  li {
    box-sizing: border-box;
    float: left;
    width: 50%;
    min-height: 5em;
    margin-bottom: 2em;
    padding-right: 5%;

    h2 {
      margin: 0;
      padding: .2em 0 .3em;
      font-size: 1em;
      line-height: 1.2;
    }

    span {
      text-align: right;
    }

    a {
      text-decoration: none;
    }

    @media screen and (max-width:500px) {
     width: auto;
     min-height: 3em;
    }
  }

  li:first-child {
    width: 100%;
    max-width: $bodyMaxWidth;
    float: none;
    margin-left: 0;
    padding-right: 0;
    h2 {
      font-size: 1.5em;
    }
    p {
      margin: 0;
    }
    p a {
      @extend %buttonSimple;
    }
  }
}

/* -- Page -- */
body.page {
  .pageSectionHeader {
    h1 {
      @extend %obiLeft;
      @extend %primaryHeading;
    }
  }
}

/* -- about --*/
.about {
  .profilePhoto {
  width: 25%;
  height: auto;
  max-width: 6em;
  max-height: 6em;
  border-radius: 50%;
  float: left;
  margin: 0 1em 0 0;
  }

  h1 {
    clear: both;
  }

  ul.SNS {
    padding-left: 0;
    overflow: hidden;

    li {
      float: left;
      display: inline;
      margin-right: 1.5em;
    }
  }
}

/* -- article -- */
body.article {
  .articleHeader {
    h1 {
      @extend %obiLeft;
      @extend %primaryHeading;
    }
  }
  .content {
    p {
      margin: 1.25em 0;
    }

    hr {
      margin: 1.75em 3em;
      border: 0;
      border-top: .2em solid #ddd;
    }

    table {
      max-width: 100%;
      min-width: 50%;
      margin: 1em auto 1.75em;
      border: 1px solid darken($bodyBgColor, 10%);
    }

    caption {
      margin-bottom: .25em;
    }

    td, th {
      padding: .5em;
      border: 1px solid darken($bodyBgColor, 10%);
    }
    th {
        background: #0a8;
        border-color: #0a8;
        color: #fafafa;
        font-weight: normal;
    }

    code {
      font-family: "Source Code Pro", monospace;
      -webkit-font-feature-settings: normal;
      -moz-font-feature-settings: normal;
      font-feature-settings: normal;
    }

    p code {
      margin: 0 2px;
      padding: 0 3px 2px;
      border-radius: 3px;
      background: darken($bodyBgColor, 7%);
      font-size: .875em;
      vertical-align: top;
    }

    pre.prettyprint {
      margin-top: 0;
      padding: 1em;
      border: none;
      background: darken($bodyBgColor, 3%);
      font-size: .875em;
      line-height: 1.6;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    .code {
      dt {
        font-size: 1.25em;
        font-weight: bold;
      }

      dd {
        margin: 0;
      }
    }

    img[class^="mt-image"] {
      height: auto;
    }

    .mt-image-left {
      float: left;
      margin: 0 1em 1em 0;
    }

    .mt-image-right {
      float: right;
      margin: 0 0 1em 1em;
    }

    .mt-image-center {
      display: block;
      max-width: 100%;
      margin: 0 auto .5em;
    }
  }

  .articleFooter {
    span {
      font-size: 1.3em;
      line-height: 1.3;
      vertical-align: bottom;
    }
  }

  .articleNavTimeSeries {
    margin: $margin 0;
    dt {
      margin-top: $margin / 2;
    }

    dd {
      margin-left: 1em;
      &:before {
      content: "»";
      padding-right: .15em;
      font-size: 1.5em;
      line-height: 1;
      }
    }
  }
}

/* -- Archive --*/
body.archive {
  .archiveHeader {
    h1 {
      @extend %obiLeft;
      @extend %primaryHeading;
    }
  }
}
ul.archive {
  padding-left: 0;
  list-style: none;
  li {
    .articleInfo {
      margin-bottom: 0;
      text-align: left;
      dt:first-child {
        margin-left: 0;
      }
    }
    h2 {
      margin: 0 0 $margin;
      font-size: 1.5em;
      a {
        text-decoration: none;
      }
    }
  }
}