/* _archive.scss
  ========================================================================== */

.archive-title {
  @extend %primaryHeading;
}

.archive-list {
  padding-left: 0;
  list-style: none;
}

.archive-list-item {
  margin-bottom: 1.5rem;

  .article-info {
    position: relative;
    width: auto;
    margin-top: 0;
    margin-bottom: .5rem;
    padding-top: .2rem;
    text-align: left;
  }
}

.archive-list-item-title {
  margin: 0;
  @extend %font-size-large;
  line-height: 1.3;
  font-weight: normal;

  & > a {
    position: relative;
    display: block;
    padding-bottom: .2rem;
    text-decoration: none;
    overflow: hidden;
  }

  & > a:hover {
    color: $color-link;
  }

  & > a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 200%;
    background-color: #caa;
    background-image: linear-gradient(to right, #cc7575, #ffd544 50%, #cc7575);
    transition: left .3s ease;
  }

  & > a:hover:after {
    left: -100%;
  }
}
