/* _archive.scss
  ========================================================================== */

.archiveHeader {}

.archive-title {
  @extend %primaryHeading;
}

.archive-list {
  padding-left: 0;
  list-style: none;
}

.archive-list-item {
  .article-info {
    width: auto;
    margin-bottom: .5rem;
    text-align: left;
  }
  .article-info-label:first-child {
    margin-left: 0;
  }
}

.archive-list-item-title {
  margin: 0 0 2rem;
  @extend %font-size-large;
  line-height: 1.3;
  font-weight: bold;
  & > a {
    text-decoration: none;
  }
}
