/* _archive.scss
  ========================================================================== */
.archive-title {
  @extend %primaryHeading;
}

.archive-list {
  margin-top: $margin * 1.5;

  @include media(small){
    margin-top: $margin;
  }
}

.archive-list-item {
  margin-bottom: $margin;

  @include media(small){
    margin: 0 0 $margin / 2;
  }
}

.archive-list-item-title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.3;
  font-feature-settings: "palt" 1;
}

.archive-list-item-title a {
  color: inherit;
  text-decoration-color: $color-base-dark-gray;
}

.archive-list-item .article-info {
  margin-top: 0;
  padding-top: .2rem;
}
