/*
 _article.scss
 記事ページのスタイル
*/

/* -- Article -- */
.p-article-header {
  margin: $margin 0 $margin * 2;
}

.p-article-title {
  @extend %primaryHeading;
}

/*
 .article-info
*/
.article-info {
  overflow: hidden;
  font-size: 0.875rem;

  & &--label {
    float: left;
  }

  & &--label:after {
    content: ":";
    margin: 0 .2em;
  }

  & &--prop {
    float: left;
    margin-left: 0;
    margin-right: 1em;
    @include media(small) {
      float: none;
    }
  }

  & > *:last-child {
    margin-right: 0;
  }

  & &--prop.is-publish-date {
    letter-spacing: 1px;
  }

  & &--category {
    margin: 0 .2em;
    text-decoration: underline;
    color: $color-text;
  }
}

/* -- 本文エリア -- */
.article-body {
  h2 {
    margin-top: ($base-margin * 2);

    @include media(small) {
      line-height: (20 / $font-size-base);
      font-size: 1.25rem;
    }
  }

  h3 {
    margin-top: ($base-margin * 1.5);
  }

  p {
    margin: $base-margin 0;
  }

  p a {
    color: inherit;
    text-decoration-color: #778899;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    & + p {
      margin-top: 0;
    }
  }

  ul,
  ol {
    padding-left: 1em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
  }

  dd + dt {
    margin-top: $base-margin / 2;
  }

  hr {
    margin: $base-margin * 2;
    border: 0;
    border-top: .2em solid $color-base-gray;
  }

  table {
    max-width: 100%;
    min-width: 50%;
    margin: $base-margin auto;
    @include media(small) {
      font-size: 0.875rem;
    }
  }

  caption {
    margin-bottom: $base-margin / 4;
  }

  td,
  th {
    padding: 1em .25em;
    @include media(small) {
      padding: .25em;
    }
  }

  th {
    padding-bottom: .5em;
    border-bottom: 2px solid $color-base;
    font-feature-settings: "palt" 1;
  }

  th:only-of-type {
    text-align: left;
    padding: 1em 0.5em 1em 0;

    @include media(small) {
      padding: .25em;
    }
  }

  td {
    border-bottom: 1px solid $color-base-black;
  }

  blockquote {
    margin: 0 0 $base-margin / 2;
    padding-left: 1em;
    border-left: 3px solid $color-base-gray;
  }

  blockquote > *:last-child {
    margin-bottom: 0;
  }

  figure {
    margin-bottom: $base-margin;
  }

  figcaption + pre {
    margin-top: 0;
  }

  :not(pre) > code {
    margin: 0 2px;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: $color-base-white;
    color: $color-base-orange;
  }
}

.embed-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 9 / 16 * 100%;

  & > iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

/* -- 参考にしたWebページ -- */
.reference-web-page > dd {
  margin: 0 0 $base-margin / 4;
}

// permalink
.p-article-permalink {
  margin: $base-margin 0;
}

.p-article-permalink-label {
  margin-top: $base-margin / 2;
  font-weight: bold;
}

.p-article-permalink-link {
  margin-left: 0;
  font-size: 0.875rem;
}

.article-ads {
  margin: $base-margin * 2 0;
  text-align: center;
}

.p-article-pager {
  position: relative;
  margin: $base-margin * 2 auto;
}

.p-article-pager-label {
  width: 50%;
  margin-top: $base-margin / 2;
  font-weight: bold;
}

.p-article-pager-link {
  box-sizing: border-box;
  width: 50%;
  margin-left: 0;
  font-size: 0.875rem;

  & > a {
    display: block;
  }
}

.p-article-pager-older {
  padding-right: 1rem;
  @include media(small) {
    padding-right: .5rem;
  }
}

.p-article-pager-newer {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  padding-left: 1rem;
  text-align: right;
  @include media(small) {
    padding-left: .5rem;
  }
}

.p-article-pager-newer.p-article-pager-link {
  top: 1.5rem;
}

