/*
 _article.scss
 記事ページのスタイル
*/

/* -- Article -- */
.articleHeader {
  h1 {
    @extend %obiLeft;
    @extend %primaryHeading;
  }
}

/* -- .articleInfo -- */
.article-info {
  text-align: right;
}

.article-info-label,
.article-info-prop {
  display: inline;
}

.article-info-label {
  margin-left: 1em;
  @include fz(14);

  &:after {
    content: ":";
    margin-left: .15em;
    font-weight: bold;
  }
}

.article-info-prop {
  margin-left: 0;
}

.article-tag {
  @extend .c-tag;
}

/* -- 本文エリア -- */
.article-body {
  h2 {
    margin-top: $margin;
    @media screen and (max-width:500px) {
      line-height: (20 / $font-size-base);
      @include fz(20);
    }
  }

  p {
    margin: em(24) 0;
    code {
      margin: 0 2px;
      padding: 0 3px 2px;
      border-radius: 3px;
      background: $color-base-gray;
      @include fz(14);
      vertical-align: top;
    }
  }

  ul,ol {
    padding-left: 1em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
  }

  dd + dt {
    margin-top: .5em;
  }

  hr {
    margin: 1.75em 3em;
    border: 0;
    border-top: .2em solid $color-base-gray;
  }

  table {
    max-width: 100%;
    min-width: 50%;
    margin: 1em auto 1.75em;
    @media screen and (max-width: 500px) {
      @include fz(14);
    }
  }

  caption {
    margin-bottom: .25em;
  }

  td, th {
    padding: 1em;
    @media screen and (max-width: 500px) {
      padding: .25em;
    }
  }

  th {
    padding-bottom: .5em;
    border-bottom: 2px solid $color-base;
  }

  td {
    border-bottom: 1px solid $color-base-lime;
  }

  img {
    max-width: 100%;
  }

  img[class^="mt-image"] {
    height: auto;
  }

  .mt-image-left {
    float: left;
    margin: 0 $margin $margin 0;
    @media screen and (max-width: 500px) {
      margin: 0 $margin / 2 $margin / 2 0;
    }
  }

  .mt-image-right {
    float: right;
    margin: 0 0 $margin $margin;
    @media screen and (max-width: 500px) {
      margin: 0 0 $margin / 2 $margin / 2;
    }
  }

  .mt-image-center {
    display: block;
    max-width: 100%;
    margin: 0 auto .5em;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1em;
    border-left: 3px solid $color-base-gray;
  }

  cite {
    text-align: right;
  }
}

.code {
  dt {
    @extend %font-viga;
  }
  dd {
    margin: 0;
  }
}

.main .prettyprint {
  margin-top: 0;
  padding: 1em;
  border-color: darken($color-base-gray, 5%);
  background: $color-base-gray;
  @include fz(14);
  line-height: 1.4;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* -- Quote --*/
.quote {
  position: relative;
  padding: .5em 1em 2.5em 2em;
  background: $color-base-gray;
  dd {
    margin-left: 0;
  }
  blockquote {
    position: relative;
    margin: 0;
  }
  blockquote:before {
    content: "\f10d";
    position: absolute;
    left: -1.1875em;
    top: -.46875em;
    color: darken($color-base-gray, 15%);
    font-family: 'FontAwesome';
    @include fz(32);
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-shadow: 3px -3px 0 $color-base-gray;
  }
  .cite {
    position: absolute;
    right: .5em;
    bottom: .5em;
    text-align: right;
  }
}

.embed-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 9 / 16 * 100%;

  & > iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

/* -- 参考にしたWebページ -- */
.reference-web-page > dd {
  margin: 0 0 .25em;
}

.articleFooter {
  span {
    @include fz(21);
    line-height: 1.3;
    vertical-align: bottom;
  }
}

.articleNavTimeSeries {
  margin: $margin 0;
  dt {
    margin-top: $margin / 2;
  }

  dd {
    margin-left: 1em;
    &:before {
    content: "»";
    padding-right: .15em;
    @include fz(24);
    line-height: 1;
    }
  }
}