/*
 _index.scss
 TOPページ関連
 */

.recent-article {
  margin: 0;
  padding: 0;
  list-style: none;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.recent-article-item {
  margin-bottom: 2.55em;

  & > a {
    display: block;
    color: $color-text;
    text-decoration: none;
  }
}

.recent-article-item-published-time {
  color: $color-base;
  font-weight: bold;
}

.recent-article-item-title {
  margin: 0;
  padding: 0.2em 0 0.3em;
  border-bottom: 1px solid $color-base-gray;
  @extend %font-size-large-xx;
  font-feature-settings: "palt" 1;
  line-height: 1.25;

  @include media(sp) {
      @include fz(22);
  }
}

.recent-article-item-description {
  margin: 0.5em 0 0;

  @include media(sp) {
    @include fz(14);
  }

  img {
    float: left;
    max-width: 47.5%;
    margin: 0 2rem 2rem 0;

    @include media(sp) {
      float: none;
      max-width: 100%;
      margin: 0 0 1rem;
    }
  }
}
