/*
 _index.scss
 TOPページ関連
 */

.index .g-header {
  height: 40vh;

  .c-sitename {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: $line-height-base * 1em;
    width: 100%;
    font-size: 10vmin;
    text-align: center;

    @include media(sp) {
      font-size: 12vmin;
    }

    a {
      text-shadow: longshadow(#605040, 7);

      &:hover {
        text-shadow: longshadow(#605040, 14);
      }
    }
  }

  .sitedescription {
    position: absolute;
    bottom: .25rem;
    text-align: center;
    right: 1rem;
    left: 1rem;
  }
}

.siteDescription {
  margin: 0;
}

.recentArticleSection h1 {
  @extend %font-size-large-x;
}

.recent-article {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.recent-article-item {
  box-sizing: border-box;
  float: left;
  width: 47.5%;
  margin-left: 5%;
  margin-bottom: 2rem;

  &:nth-child(2n+2) {
    clear: left;
    margin-left: 0;
  }

  @include media(sp) {
   width: 100%;
   height: auto;
   margin: 0 0 1.5rem 0;
  }

  & > a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    transition: all .2s ease;

    &:hover {
      border-radius: em(5);
      background-color: $color-base-gray;
    }
  }

}

.recent-article-item-published-time {
  font-family: "Viga", sans-serif;
  color: $color-text;
}

.recent-article-item-title {
  margin: 0;
  padding: .2rem 0 .3rem;
  @extend %font-size-large;
  font-weight: normal;
  line-height: 1.2;
  text-decoration: underline;
}

.recent-article-item:first-child {
  width: 100%;
  height: auto;
  max-width: $bodyMaxWidth;
  float: none;
  margin-left: 0;
  margin-bottom: 2rem;

  @include media(mid) {
    margin-left: auto;
    margin-right: auto;
  }

  .recent-article-item-title {
    @extend %font-size-large-xx;
    font-weight: bold;
    text-decoration: none;
    color: $color-base;
    text-shadow: longshadow(#fff,3);


    @include media(sp) {
      @include fz(22);
    }
  }

  .recent-article-item-title > a {
    text-decoration: none;
  }
  .recent-article-item-description {
    margin: 0;
    color: $color-text;

    @include media(sp) {
      @include fz(14);
    }
  }
}