/*
 _page.scss
 ウェブページのスタイル
*/

/* -- Page -- */
.pageSectionHeader {
  h1 {
    margin-top: 0;
    font-size: 2rem;
    font-feature-settings: "palt" 1;
    line-height: 1.35;
  }
}

/* -- Page About --*/
.profilePhoto {
  border-radius: 50%;
}
