/*
 * variable
 */

:root {
  /* color */
  --color-black: #222222;
  --color-white: #FFFFFF;
  --color-gray: #999999;
  --color-light-gray: #e0e0e0;
  --color-red: #DC0B0B;
  /* typography */
  --line-height: 1.625;
  --line-height__heading: 1.333333;
}
