/*
 _index.scss
 TOPページ関連
 */

.articles-list {
  margin: 0;
  padding: 0;
}

.articles-list-item:not(:first-child) {
  margin-top: 2.55em;
}

.articles-list-item > a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.articles-list-item-published-time {
  color: $color-base;
}

.articles-list-item-title {
  margin: 0;
  padding: 0.25em 0;
  border-bottom: 1px solid $color-base-gray;
  font-size: 1.75rem;
  font-feature-settings: "palt" 1;
  line-height: 1.25;
}

.articles-list-item-info {
  margin: 0;
}

.articles-list-item-category {
  color: inherit;
}

.articles-list-item-description {
  margin: 0.5em 0 0;
}

.articles-list-item-description img {
  float: left;
  max-width: 47.5%;
  margin: 0 2rem 2rem 0;

  @include media(small) {
    float: none;
    max-width: 100%;
    margin: 0 0 1rem;
  }
}
