/*
 _article.scss
 記事ページのスタイル
*/

/* -- Article -- */
.article-header {
  margin: 0 0 2rem * 2;
}

.article-title {
  margin-top: 0;
  font-size: 2rem;
  font-feature-settings: "palt" 1;
  line-height: 1.35;
}

/*
 .article-info
*/
.article-info__date-published {
  margin: 0;
}

.article-info__categories {
  display: flex;
  margin: 0;
}

.article-info__category {
  margin-left: 0.5em;
}

/* -- 本文エリア -- */
.article-body {
  margin-bottom: 60px;

  h2 {
    margin-top: (1.5em * 2);
  }

  h3 {
    margin-top: (1.5em * 1.5);
  }

  p {
    margin: 1.5em 0;
  }

  p a {
    color: inherit;
    text-decoration-color: #778899;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    & + p {
      margin-top: 0;
    }
  }

  ul,
  ol {
    padding-left: 1em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
  }

  dd + dt {
    margin-top: 1.5em / 2;
  }

  hr {
    margin: 1.5em * 2;
    border: 0;
    border-top: .2em solid var(--color-gray);
  }

  table {
    max-width: 100%;
    min-width: 50%;
    margin: 1.5em auto;
  }

  caption {
    margin-bottom: 1.5em / 4;
  }

  td,
  th {
    padding: 1em .25em;
  }

  th {
    padding-bottom: .5em;
    border-bottom: 2px solid var(--color-red);
    font-feature-settings: "palt" 1;
  }

  th:only-of-type {
    text-align: left;
    padding: 1em 0.5em 1em 0;

    @include media(small) {
      padding: .25em;
    }
  }

  td {
    border-bottom: 1px solid var(--color-black);
  }

  blockquote {
    margin: 0 0 1.5em / 2;
    padding-left: 1em;
    border-left: 3px solid var(--color-gray);
  }

  blockquote > *:last-child {
    margin-bottom: 0;
  }

  figure {
    margin-bottom: 1.5em;
  }

  figcaption + pre {
    margin-top: 0;
  }

  pre > code {
    display: block;
    overflow-x: scroll;
  }

  :not(pre) > code {
    margin: 0 2px;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: var(--color-white);
    color: var(--color-red);
  }
}

.embed-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 9 / 16 * 100%;

  & > iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

/* -- 参考にしたWebページ -- */
.reference-web-page > dd {
  margin: 0 0 1.5em / 4;
}

// permalink
.article-permalink {
  margin: 1.5em 0;
}

.article-permalink-label {
  margin-top: 1.5em / 2;
  font-weight: bold;
}

.article-permalink-link {
  margin-left: 0;
  font-size: 0.875rem;
}

.article-ads {
  margin: 1.5em * 2 0;
  text-align: center;
}

.article-pager {
  position: relative;
  margin: 1.5em * 2 auto;
}

.article-pager-label {
  width: 50%;
  margin-top: 1.5em / 2;
  font-weight: bold;
}

.article-pager-link {
  box-sizing: border-box;
  width: 50%;
  margin-left: 0;
  font-size: 0.875rem;

  & > a {
    display: block;
  }
}

.article-pager-older {
  padding-right: 1rem;
}

.article-pager-newer {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  padding-left: 1rem;
  text-align: right;
}

.article-pager-newer.article-pager-link {
  top: 1.5rem;
}

