/*
 * Article
 * 記事ページ
 */

.Article__header {
  margin: 0 0 4rem;
}

.Article__title {
  margin-top: 0;
  font-size: var(--font-size__5);
  font-feature-settings: "palt" 1;
  font-weight: normal;
  line-height: var(--line-height__heading);
}

@media (min-width: 768px) {
  .Article__title {
    font-size: var(--font-size__6);
  }
}

.Article__date-published {
  margin: 0;
}

.Article__categories {
  display: flex;
  margin: 0;
}

.Article__category {
  margin-left: 0.5em;
}

.Article__body {
  margin-bottom: 60px;
}

.Article__pager {
  margin: 3em auto;
}
