/*
 * Article
 * 記事ページ
 */

.Article__header {
  margin: 0 0 4rem;
}

.Article__title {
  margin-top: 0;
  font-size: 1.75rem;
  font-feature-settings: "palt" 1;
  font-weight: normal;
  line-height: 1.33333333;
}

@media (min-width: 768px) {
  .Article__title {
    font-size: 2.5rem;
  }
}

.Article__date-published {
  margin: 0;
}

.Article__categories {
  display: flex;
  margin: 0;
}

.Article__category {
  margin-left: 0.5em;
}

.Article__body {
  margin-bottom: 60px;
}

.Article__permalink {
  margin: 1.5em 0;
}

.Article__permalinkLink {
  margin-left: 0;
  font-size: 0.875rem;
  word-break: break-all;
}

.Article__ads {
  margin: 3em -7.5%;
  text-align: center;
}

.Article__pager {
  margin: 3em auto;
}
