/*
 * ArticleList
 */

.ArticlesList {
  margin: 0 0 6rem;
  padding: 0;
}

.ArticlesList__item:not(:first-of-type) {
  margin-top: 2.5rem;
}

.ArticlesList__itemTitle {
  margin: 0 0 1rem;
  font-size: 1.375rem;
  font-feature-settings: "palt" 1;
  font-weight: 300;
}

.ArticlesList__itemTitle > a {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-gray);
  color: inherit;
  text-decoration: none;
}

.ArticlesList__itemInfo {
  margin-top: 0.75rem;
}

.ArticlesList__itemCategory {
  color: inherit;
  text-decoration: none;
}

.ArticlesList__itemDescription {
  margin: 1rem 0 0;
}
