/*
 * article
 * 記事ページ
 */

.article__header {
  margin: 0 0 4rem;
}

.article__title {
  margin-top: 0;
  font-size: 1.75rem;
  font-feature-settings: "palt" 1;
  font-weight: normal;
  line-height: 1.33333333;
}

@media (min-width: 768px) {
  .article__title {
    font-size: 2.5rem;
  }
}

.article__date-published {
  margin: 0;
}

.article__categories {
  display: flex;
  margin: 0;
}

.article__category {
  margin-left: 0.5em;
}

.article__body {
  margin-bottom: 60px;
}

.article__permalink {
  margin: 1.5em 0;
}

.article__permalink-link {
  margin-left: 0;
  font-size: 0.875rem;
  word-break: break-all;
}

.article__ads {
  margin: 3em -7.5%;
  text-align: center;
}

.article__pager {
  margin: 3em auto;
}
