/*
 * article-list
 */

.articles-list {
  margin: 0;
  padding: 0;
}

.articles-list-item:not(:first-of-type) {
  margin-top: 2.5rem;
}

.articles-list-item > a {
  display: block;
  color: inherit;
  text-decoration-color: var(--color-red);
}

.articles-list-item-title {
  margin: 0 0 0.5em;
  font-size: 1.5rem;
  font-feature-settings: "palt" 1;
  font-weight: normal;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .articles-list-item-title {
    font-size: 1.75rem;
  }
}

.articles-list-item-info {
  margin: 0;
}

.articles-list-item-category {
  color: inherit;
  text-decoration: none;
}

.articles-list-item-description {
  margin: 0.5em 0 0;
}
