/*
 * Article
 * 記事ページ
 */

.Article__header {
  margin: 0 0 4rem;
}

.Article__title {
  margin-top: 0;
  font-size: var(--font-size__5);
  font-feature-settings: "palt" 1;
  font-weight: bold;
  line-height: var(--line-height__heading);
}

.Article__infoList {
  display: flex;
  margin: 0;
  font-size: var(--font-size__2);
}

.Article__infoList dt {
  margin-right: 0.25em;
}

.Article__infoList dd + dt {
  margin-left: 1em;
}

.Article__infoList dd {
  margin: 0;
}

.Article__infoList dd + dd {
  margin-left: 0.25em;
}

.Article__body {
  margin-bottom: 60px;
}

.Article__pager {
  margin: 3em auto;
}

.Article__author {
  text-align: center;
}

.Article__authorClickableWrapper {
  display: inline-block;
  position: relative;
}

.Article__authorDescription {
  text-align: left;
}

.Article__authorPhoto {
  border-radius: 50%;
}

.Article__authorLink {
  color: inherit;
}

.Article__authorLink::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.Article__authorSNS {
  padding-left: 1em;
}
