/*
 * ArticleList
 */

.ArticlesList {
  margin: 0 0 6rem;
  padding: 0;
}

.ArticlesList__title {
  font-size: var(--font-size__3);
  font-weight: bold;
}

.ArticlesList__item {
  font-size: var(--font-size__2);
}

.ArticlesList__item:not(:first-of-type) {
  margin-top: 3rem;
}

.ArticlesList__itemTitle {
  margin: 0 0 0.5rem;
  font-size: var(--font-size__4);
  font-feature-settings: "palt" 1;
  font-weight: normal;
  line-height: var(--line-height__heading);
}

.ArticlesList__itemDescription {
  margin: 0;
}

.ArticlesList__itemInfo {
  margin-top: 0.75rem;
}

.ArticlesList__itemCategory {
  color: inherit;
  text-decoration-color: var(--color-gray);
}
