/*
 * EditArea
 * CMSから入稿する部分
 */
.EditArea :matches(h1, h2, h3, h4, h5, h6) {
  line-height: var(--line-height__heading);
}

.EditArea h2 {
  margin-top: 5em;
}

.EditArea h3 {
  margin-top: 4em;
}

.EditArea :matches(h2 + h3, h3 + h4, h4 + h5, h5 + h6) {
  margin-top: 0;
}

.EditArea p {
  margin: 2em 0;
}

.EditArea a {
  color: inherit;
}

.EditArea :matches(h2, h3, h4, h5, h6) + p {
  margin-top: 0;
}

.EditArea ul,
.EditArea ol {
  padding-left: 1em;
}

.EditArea dt {
  font-weight: bold;
}

.EditArea dd + dt {
  margin-top: 0.75em;
}

.EditArea hr {
  margin: 3em;
  border: 0;
  border-top: 0.2em double var(--color-gray);
}

.EditArea table {
  max-width: 100%;
  min-width: 50%;
  margin: 1.5em auto;
}

.EditArea caption {
  margin-bottom: 0.375em;
}

.EditArea td,
.EditArea th {
  padding: 1em .25em;
}

.EditArea th {
  padding-bottom: .5em;
  border-bottom: 2px solid var(--color-red);
  font-feature-settings: "palt" 1;
}

.EditArea th:only-of-type {
  text-align: left;
  padding: 1em 0.5em 1em 0;
}

.EditArea td {
  border-bottom: 1px solid var(--color-black);
}

.EditArea blockquote {
  margin: 0 0 1em;
  padding-left: 1em;
  border-left: 3px solid var(--color-light-gray);
  font-size: var(--font-size__2);
  color: var(--color-dark-gray);
}

.EditArea blockquote > *:last-child {
  margin-bottom: 0;
}

.EditArea figure {
  margin-bottom: 2em;
}

.EditArea figcaption {
  font-size: var(--font-size__2);
  line-height: var(--line-height__narrow);
}

.EditArea figcaption:first-child {
  margin-bottom: 0.25em;
}

.EditArea figcaption + * {
  margin-top: 0;
}

.EditArea pre {
  font-size: var(--font-size__2);
}

.EditArea > pre > code,
.EditArea :not(table) pre > code {
  margin: 0 -2em 1em;
  padding: 0.5em 2em;
}

.EditArea :not(pre) > code {
  color: var(--color-red);
}

.EditArea strong {
  color: var(--color-red);
}

.EditArea kbd {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0 0.4em;
  border-radius: 4px;
  background-color: var(--color-dark-gray);
  color: white;
  font-size: var(--font-size__2);
}

/*
 * HACK: レンダリング途中の <twitter-widgets> が .Article__body の
 * margin に影響を受けてはみ出してしまうため、位置を強制リセット。
 * 最終的に position: static になるため、影響しない。
 */
.EditArea .twitter-tweet-rendered {
  left: 0;
}
