/*
 * EditArea
 * CMSから入稿する部分
 */
.EditArea :matches(h2, h3, h4, h5, h6) {
  line-height: 1.333333;
}

.EditArea h2 {
  margin-top: 3.33333em;
}

.EditArea h3 {
  margin-top: 2.25em;
}

.EditArea :matches(h2 + h3, h3 + h4, h4 + h5, h5 + h6) {
  margin-top: 0;
}

.EditArea p {
  margin: 2em 0;
}

.EditArea a {
  color: inherit;
  word-break: break-all;
}

.EditArea :matches(h2, h3, h4, h5, h6) + p {
  margin-top: 0;
}

.EditArea ul,
.EditArea ol {
  padding-left: 1em;
}

.EditArea dt {
  font-weight: bold;
}

.EditArea dd {
  margin-left: 0;
}

.EditArea dd + dt {
  margin-top: 0.75em;
}

.EditArea hr {
  margin: 3em;
  border: 0;
  border-top: 0.2em solid var(--color-gray);
}

.EditArea table {
  max-width: 100%;
  min-width: 50%;
  margin: 1.5em auto;
}

.EditArea caption {
  margin-bottom: 0.375em;
}

.EditArea td,
.EditArea th {
  padding: 1em .25em;
}

.EditArea th {
  padding-bottom: .5em;
  border-bottom: 2px solid var(--color-red);
  font-feature-settings: "palt" 1;
}

.EditArea th:only-of-type {
  text-align: left;
  padding: 1em 0.5em 1em 0;
}

.EditArea td {
  border-bottom: 1px solid var(--color-black);
}

.EditArea blockquote {
  margin: 0 0 0.75em;
  padding-left: 1em;
  border-left: 3px solid var(--color-gray);
}

.EditArea blockquote > *:last-child {
  margin-bottom: 0;
}

.EditArea figure {
  margin-bottom: 1.5em;
}

.EditArea figcaption + pre {
  margin-top: 0;
}

.EditArea pre > code {
  display: block;
  overflow-x: scroll;
  padding: 1em;
  font-size: calc(16 / 18 * 1em);
  line-height: calc(30 / 16);
}

.EditArea :not(pre) > code {
  color: var(--color-red);
}

.EditArea strong {
  color: var(--color-red);
}

@media (max-width: 767px) {
  .EditArea th:only-of-type {
    padding: .25em;
  }

  .EditArea > pre > code,
  .EditArea :not(table) pre > code {
    max-width: 100vw;
    margin: 0 calc(-50vw + 50%) 1em;
    padding: 1em calc(50vw - 50%);
  }
}
