/*
 * flat-list
 */

.c-flat-list {
  list-style: none;
  padding-left: 0;
}

.c-flat-list > :matches(li, dt, dd) {
  display: inline-block;
  margin-right: 0.5em;
}

.c-flat-list > :matches(li, dt, dd):last-child {
  margin-right: 0;
}
