/*
 * FlatList
 */

.FlatList {
  list-style: none;
  padding-left: 0;
}

.FlatList > :matches(li, dt, dd) {
  display: inline-block;
  margin-right: 0.5em;
}

.FlatList > :matches(li, dt, dd):last-child {
  margin-right: 0;
}
