/*
 * Main
 */

.Main {
  max-width: 36em;
  width: 85%;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
}

.Main__title {
  margin: 0 0 4rem;
  font-size: var(--font-size__5);
  font-feature-settings: "palt" 1;
  font-weight: bold;
  line-height: var(--line-height__heading);
}
