/*
 * mt-image
 * CMSから出力されるclass名のため、READMEのルール対象外
 */

[class^="mt-image"] {
  height: auto;
}

.mt-image-left {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.mt-image-right {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.mt-image-center {
  display: block;
  max-width: 116.7%;
  margin: 0 -7.5% 1em;
}

@media (max-width: 767px) {
  .mt-image-left,
  .mt-image-right {
    display: block;
    float: none;
    width: auto;
    margin: 1.5em auto;
  }
  .mt-image-center {
    max-width: 100vw;
    margin: 0 calc((100vw - 100%) / -2) 1em;
  }
}
