/*
 * mt-image
 * CMSから出力されるclass名のため、READMEのルール対象外
 */

[class^="mt-image"] {
  height: auto;
}

.mt-image-left {
  float: left;
  max-width: 30%;
  min-width: 100px;
  margin: 0 1.5rem 1.5rem 0;
}

.mt-image-right {
  float: right;
  max-width: 30%;
  min-width: 100px;
  margin: 0 0 1.5rem 1.5rem;
}

.mt-image-center {
  display: block;
  max-width: 117.65%;
  margin: 0 -8.825% 1.5rem;
}
