/*
 * SiteNav
 */

.SiteNav {
  display: inline-flex;
  padding: 0;
  list-style: none;
}

.SiteNav a {
  display: block;
  padding: .5em;
  color: var(--color-white);
  text-decoration: none;
}

.SiteNav a:hover {
  text-decoration: underline;
}
