/*
 _index.scss
 TOPページ関連
 */

.articles-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.articles-list-item {
  padding: 1.275em 0;
}

.articles-list-item > a {
  display: block;
  color: $color-text;
  text-decoration: none;}

.articles-list-item-published-time {
  color: $color-base;
  font-weight: bold;
}

.articles-list-item-title {
  margin: 0;
  padding: 0.2em 0 0.3em;
  border-bottom: 1px solid $color-base-gray;
  @extend %font-size-large-xx;
  font-feature-settings: "palt" 1;
  line-height: 1.25;

  @include media(small) {
    font-size: 1.5rem;
  }
}

.articles-list-item-info {
  margin-bottom: 0;
}

.articles-list-item-category {
  color: inherit;
  font-weight: bold;
}

.articles-list-item-description {
  margin: 0.5em 0 0;

  @include media(small) {
    font-size: 0.875rem;
  }

  img {
    float: left;
    max-width: 47.5%;
    margin: 0 2rem 2rem 0;

    @include media(small) {
      float: none;
      max-width: 100%;
      margin: 0 0 1rem;
    }
  }
}
