/* _conponent.scss
  ========================================================================== */
.c-flat-list {
  list-style: none;
  padding-left: 0;
}

.c-flat-list > li,
.c-flat-list > dt,
.c-flat-list > dd {
  display: inline-block;
  margin-right: .5rem;

  &:last-child {
    margin-right: 0;
  }
}
