/* _conponent.scss
  ========================================================================== */

.c-sitename {
  -webkit-font-smoothing: antialiased;

  a {
    color: $color-text;
    text-decoration: none;
  }

  span {
    letter-spacing: -.125em;
  }
}

.c-icon {
  display: inline-block;
}

.c-flat-list {
  list-style: none;
  padding-left: 0;
}

.c-flat-list > li,
.c-flat-list > dt,
.c-flat-list > dd {
  display: inline-block;
  margin-right: .5rem;

  &:last-child {
    margin-right: 0;
  }
}

/* -- tag -- */
.c-tag {
  position: relative;
  display: inline-block;
  margin-right: .5em;
  padding: 0 1.75em 0 1em;
  border-radius: em(3) 0 0 em(3);
  background-color: $color-base-gray;
  color: $color-text;
  text-decoration: none;
  @extend %font-size-smaller;

  &:visited {
    color: $color-text;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    line-height: 1;
  }

  &:before {
    top: 0;
    left: .4em;
    bottom: 0;
    height: em(4);
    width: em(4);
    border-radius: 100%;
    background-color: $color-body-bg;
  }

  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-right-color: $color-body-bg;
  }
}

/* -- SiteName --*/
.siteName {
  span {
    letter-spacing: -.1em;
  }
}