/* _main.scss
  ========================================================================== */
.main-title {
  margin-top: 0;
  font-size: 2rem;
  font-feature-settings: "palt" 1;
  line-height: 1.35;
}
